@page
@model KoreanKirklandCentralChurch.Pages.Admin.Sermons.CreateModel
@{
    ViewData["Title"] = "설교관리자 - 새설교";
    Layout = "_Layout";
}

<div class="jumbotron jumbotron-fluid bg-light">
    <div class="container">
        <h1 class="display-4">새설교 만들기</h1>
        <ol>
            <li>
                순서 1
            </li>
            <li>
                순서 2
            </li>
            <li>
                순서 3
            </li>
        </ol>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Sermon.Date" class="control-label"></label>
                    <input asp-for="Sermon.Date" class="form-control" />
                    <span asp-validation-for="Sermon.Date" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Sermon.Title" class="control-label"></label>
                    <input asp-for="Sermon.Title" class="form-control" />
                    <span asp-validation-for="Sermon.Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Sermon.Scripture" class="control-label"></label>
                    <input asp-for="Sermon.Scripture" class="form-control" />
                    <span asp-validation-for="Sermon.Scripture" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Sermon.Speaker" class="control-label"></label>
                    <input asp-for="Sermon.Speaker" class="form-control" />
                    <span asp-validation-for="Sermon.Speaker" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Sermon.SermonLink" class="control-label"></label>
                    <input asp-for="Sermon.SermonLink" class="form-control" />
                    <span asp-validation-for="Sermon.SermonLink" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
    <div>
        <a asp-page="Index">Back to List</a>
    </div>
</div>