@page
@model KoreanKirklandCentralChurch.Pages.Admin.Albums.EditModel
@{
    ViewData["Title"] = "앨범관리자 - 앨범수정";
    Layout = "_Layout";
}

<div class="jumbotron jumbotron-fluid bg-light">
    <div class="container">
        <h1 class="display-4">앨범 수정</h1>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6 text-center">
            <img src="@Model.Album.Thumbnail" width="500" height="375" />
        </div>
        <div class="col-md-6">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Album.Id" />
                <div class="form-group">
                    <label asp-for="Album.Thumbnail" class="control-label"></label>
                    <input asp-for="Album.Thumbnail" class="form-control" />
                    <span asp-validation-for="Album.Thumbnail" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Album.Title" class="control-label"></label>
                    <input asp-for="Album.Title" class="form-control" />
                    <span asp-validation-for="Album.Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Album.Date" class="control-label"></label>
                    <input asp-for="Album.Date" class="form-control" />
                    <span asp-validation-for="Album.Date" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Album.AlbumLink" class="control-label"></label>
                    <input asp-for="Album.AlbumLink" class="form-control" />
                    <span asp-validation-for="Album.AlbumLink" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
            <div>
                <a asp-page="./Index">Back to List</a>
            </div>
        </div>
    </div>
</div>