@page
@model KoreanKirklandCentralChurch.Pages.IndexModel
@{
    Layout = "_Layout";
}

<div class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="/images/hero.jpg" class="d-block w-100 hero" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>Name</h5>
                <p>Description</p>
            </div>
        </div>
    </div>
</div>
<div>
    <div class="row mt-5 mx-3">
        <div class="col-md">
            <h4>최근 말씀</h4>
            <h5>"화목의 직분" — by 심성섭 목사</h5>
            <p>고후 5:17-21</p>
            <a href="#">설교 더 보기</a>
        </div>
        <div class="col-md">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/twvgoqeCszA" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>
<div class="row mt-5 mx-3">
    <div class="col-md bg-light text-center overflow-hidden m-1">
        <div class="mt-5">
            <img src="https://via.placeholder.com/100" />
        </div>
        <div class="my-3 py-3">
            <h2 class="display-5">교회소개</h2>
            <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
    </div>
    <div class="col-md bg-light text-center overflow-hidden m-1">
        <div class="mt-5">
            <img src="https://via.placeholder.com/100" />
        </div>
        <div class="my-3 py-3">
            <h2 class="display-5">설교말씀</h2>
            <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
    </div>
</div>
<div class="row mx-3">
    <div class="col-md bg-light text-center overflow-hidden m-1">
        <div class="mt-5">
            <img src="https://via.placeholder.com/100" />
        </div>
        <div class="my-3 py-3">
            <h2 class="display-5">교회활동</h2>
            <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
    </div>
    <div class="col-md bg-light text-center overflow-hidden m-1">
        <div class="mt-5">
            <img src="https://via.placeholder.com/100" />
        </div>
        <div class="my-3 py-3">
            <h2 class="display-5">설교말씀</h2>
            <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
    </div>
</div>
<div class="row text-center">
    <div class="col-md mt-5">
        <img class="rounded-circle mt-5" src="https://via.placeholder.com/100" />
        <h2 class="mt-5">교회소개</h2>
        <p class="lead mt-3">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        <a class="btn btn-secondary mt-3" href="#" role="button">더 보기</a>
    </div>
    <div class="col-md mt-5">
        <img class="rounded-circle mt-5" src="https://via.placeholder.com/100" />
        <h2 class="mt-5">설교말씀</h2>
        <p class="lead mt-3">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        <a class="btn btn-secondary mt-3" href="#" role="button">더 보기</a>
    </div>
    <div class="col-md mt-5">
        <img class="rounded-circle mt-5" src="https://via.placeholder.com/100" />
        <h2 class="mt-5">교회활동</h2>
        <p class="lead mt-3">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        <a class="btn btn-secondary mt-3" href="#" role="button">더 보기</a>
    </div>
</div>
