@page
@model KoreanKirklandCentralChurch.Pages.Admin.LoginModel
@{
    ViewData["Title"] = "Admin - Login";
    Layout = "_Layout";
}

<div class="container text-center">
    <form class="form-signin">
        <img class="mb-4 rounded-circle" src="https://via.placeholder.com/80" />
        <h1 class="h3 mb-3 font-weight-normal">
            Please sign in
        </h1>
        <label class="sr-only">
            Email address
        </label>
        <input class="form-control" />
        <label class="sr-only">
            Password
        </label>
        <input class="form-control" />
        <div class="checkbox mb-3">

        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">
            Sign in
        </button>
    </form>
</div>