@page
@model KoreanKirklandCentralChurch.Pages.Albums.IndexModel
@{
    ViewData["Title"] = "KKCC | 교회앨범";
    Layout = "_Layout";
}

<div class="jumbotron jumbotron-fluid bg-light">
    <div class="container">
        <h1 class="display-4">교회앨범</h1>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
</div>
<div class="container">
    <h3>2018</h3>
    <div class="row">
        <div class="col-md-4 mt-5">
            <div class="card">
                <img class="card-img-top album" src="https://lh3.googleusercontent.com/9i9bj4S-hGyIj2_8q8txrR2ioHSzoKqy_2_KZUiuk6VjN297hp8Tyn7UCfHthNL04sJ6ZAzL0q8_zne96fjEyapessYHA6rnCx5MgFXj0M-hpRQVkn6chBXLfgv5PeOsKLlF6vyCmQw=w2400" />
                <div class="card-body">
                    <h5 class="card-title">
                        주일학교 성탄절 행사
                    </h5>
                    <p class="card-text text-secondary">
                        2018년 9월 18일
                    </p>
                    <div class="btn-group">
                        <a class="btn btn-sm btn-outline-secondary" href="https://goo.gl/photos/minSAb9ZYMnfe8Bq9" role="button">앨범보기</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 mt-5">
            <div class="card">
                <img class="card-img-top album" src="https://lh3.googleusercontent.com/9i9bj4S-hGyIj2_8q8txrR2ioHSzoKqy_2_KZUiuk6VjN297hp8Tyn7UCfHthNL04sJ6ZAzL0q8_zne96fjEyapessYHA6rnCx5MgFXj0M-hpRQVkn6chBXLfgv5PeOsKLlF6vyCmQw=w2400" />
                <div class="card-body">
                    <h5 class="card-title">
                        주일학교 성탄절 행사
                    </h5>
                    <p class="card-text text-secondary">
                        2018년 9월 18일
                    </p>
                    <div class="btn-group">
                        <a class="btn btn-sm btn-outline-secondary" href="https://goo.gl/photos/minSAb9ZYMnfe8Bq9" role="button">앨범보기</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 mt-5">
            <div class="card">
                <img class="card-img-top album" src="https://lh3.googleusercontent.com/9i9bj4S-hGyIj2_8q8txrR2ioHSzoKqy_2_KZUiuk6VjN297hp8Tyn7UCfHthNL04sJ6ZAzL0q8_zne96fjEyapessYHA6rnCx5MgFXj0M-hpRQVkn6chBXLfgv5PeOsKLlF6vyCmQw=w2400" />
                <div class="card-body">
                    <h5 class="card-title">
                        주일학교 성탄절 행사
                    </h5>
                    <p class="card-text text-secondary">
                        2018년 9월 18일
                    </p>
                    <div class="btn-group">
                        <a class="btn btn-sm btn-outline-secondary" href="https://goo.gl/photos/minSAb9ZYMnfe8Bq9" role="button">앨범보기</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 mt-5">
            <div class="card">
                <img class="card-img-top album" src="https://lh3.googleusercontent.com/9i9bj4S-hGyIj2_8q8txrR2ioHSzoKqy_2_KZUiuk6VjN297hp8Tyn7UCfHthNL04sJ6ZAzL0q8_zne96fjEyapessYHA6rnCx5MgFXj0M-hpRQVkn6chBXLfgv5PeOsKLlF6vyCmQw=w2400" />
                <div class="card-body">
                    <h5 class="card-title">
                        주일학교 성탄절 행사
                    </h5>
                    <p class="card-text text-secondary">
                        2018년 9월 18일
                    </p>
                    <div class="btn-group">
                        <a class="btn btn-sm btn-outline-secondary" href="https://goo.gl/photos/minSAb9ZYMnfe8Bq9" role="button">앨범보기</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>