@page
@model KoreanKirklandCentralChurch.Pages.About.IndexModel
@{
    Layout = "_Layout";
}

<div class="jumbotron jumbotron-fluid bg-light">
    <div class="container">
        <h1 class="display-4">교회소개</h1>
        <p class="lead">주를 경외하는 자에게 깃발을 주시고 진리를 위하여 달게 하셨나이다 (시 60:4)</p>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4 text-center my-5">
            <img class="rounded-circle" src="https://via.placeholder.com/200" />
            <h5 class="mt-4">심성섭</h5>
            <h6 class="text-secondary">담임목사</h6>
        </div>
        <div class="col-md-8 my-5">
            <h4>안녕하세요</h4>
            <p>커클랜드중앙교회는 1991년 2월 3일 한인 교회가 없었던 커클랜드 지역에 창립되어 지난 29년동안 하나님을 향한 예배와 이웃을 향한 복음전파 그리고 열방과 민족을들을 향한 선교사명을 감당해 가고 있으녀 특별히 다음 세대가 말씀과 기도가운데 자라갈 수 있도록 힘쓰고 있습니다.</p>
        </div>
    </div>
    <h3 class="mt-5">섬기는 분들</h3>
    <div class="row text-center mx-3">
        <div class="col-md mt-5">
            <img class="rounded-circle mt-5" src="https://via.placeholder.com/150" />
            <h5 class="mt-4">이름</h5>
            <h6 class="text-secondary">직분</h6>
        </div>
        <div class="col-md mt-5">
            <img class="rounded-circle mt-5" src="https://via.placeholder.com/150" />
            <h5 class="mt-4">이름</h5>
            <h6 class="text-secondary">직분</h6>
        </div>
        <div class="col-md mt-5">
            <img class="rounded-circle mt-5" src="https://via.placeholder.com/150" />
            <h5 class="mt-4">이름</h5>
            <h6 class="text-secondary">직분</h6>
        </div>
    </div>
    <div class="row text-center mx-3">
        <div class="col-md mt-5">
            <img class="rounded-circle mt-5" src="https://via.placeholder.com/150" />
            <h5 class="mt-4">이름</h5>
            <h6 class="text-secondary">직분</h6>
        </div>
        <div class="col-md mt-5">
            <img class="rounded-circle mt-5" src="https://via.placeholder.com/150" />
            <h5 class="mt-4">이름</h5>
            <h6 class="text-secondary">직분</h6>
        </div>
        <div class="col-md mt-5">
            <img class="rounded-circle mt-5" src="https://via.placeholder.com/150" />
            <h5 class="mt-4">이름</h5>
            <h6 class="text-secondary">직분</h6>
        </div>
    </div>
    <h3 class="mt-5">예배안내</h3>
    <div class="row text-center">
        <div class="col-md mt-5">
            <h4>주일예배</h4>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">주일 오전 11시 (본당)</li>
                <li class="list-group-item">주일 오전 11시 (교육관)</li>
            </ul>
        </div>
        <div class="col-md mt-5">
            <h4>수요예배</h4>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">수요일 오후 7시 30분 (본당)</li>
            </ul>
        </div>
        <div class="col-md mt-5">
            <h4>새벽기도회</h4>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">화요일 오전 6시 (본당)</li>
                <li class="list-group-item">수요일 오전 6시 (본당)</li>
                <li class="list-group-item">금요일 오전 6시 (본당)</li>
                <li class="list-group-item">토요일 오전 6시 (본당)</li>
            </ul>
        </div>
    </div>
    <h3 class="mt-5">오시는 길</h3>
    <div class="embed-responsive embed-responsive-16by9 mt-5">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2683.688284166727!2d-122.20041858421638!3d47.729298787486805!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x54900df10bd5d8fd%3A0xf76e6374e250396e!2sKorean%20Kirkland%20Covenant%20Church!5e0!3m2!1sen!2sus!4v1581147924278!5m2!1sen!2sus" width="1200" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
    </div>
</div>