.navbar {
    min-height: 120px;
    padding-left: 40px;
    padding-right: 40px;
}

.nav-item {
    padding-left: 15px;
    padding-right: 15px;
}

img {
    object-fit: cover;
}

.album {
    height: 225px;
    width: 100%;
}

.hero {
    max-height: 750px;
}
